h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navi {
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
}

img{
    height: 180px;
    width: 200px;
}
.image1{
    display: inline-block;
    text-align: center;
    width: 200px;
    border: solid black; 
    padding-bottom: 10px;
}
.Contact{
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-top: 50px;
    

}
button{background-color: orangered;color: white;
border: solid orangered;
border-radius: 5px;
padding: 5px;
}
.button{
    background-color: gold;
    color: black;
    width: 500px;
}
.age{
    margin-left: 15px;
}
div{
    text-align: center;
}


